openapi: 3.0.3
info:
  title: PN Service-Desk BE Microservice
  description: Documentation APIs v1.0 di Service Desk
  termsOfService: https://termofservice.it
  x-api-id: api-pn-service-desk
  x-summary: 'Service Desk: API B2B per Cruscotto'
  version: '1.0.0'
  contact:
    email: pn@pagopa.it
    name: PagoPA
  license:
    name: Licenza di PN
    url: 'https://da-definire/'
servers:
  - url: https://api.pn.pagopa.it
    description: Generated server url
tags:
  - name: HealthCheck
    description: >-
      Invocazioni per sapere lo stato del microservizio
  - name: Notification
    description: >-
      Invocazioni per effettuare il recupero di una notifica in caso di destinatario irreperibile
  - name: Operation
    description: >-
      Invocazioni per eseguire azioni di Ops come il caricamento del video

paths:
  '/status':
    get:
      summary: healthCheck path
      description: health check path per verificare lo stato del micro servizio
      tags:
        - HealthCheck
      operationId: status
      responses:
        '200':
          description: Ok
        '500':
          description: Internal Server Error

  '/service-desk/notification/unreachable':
    post:
      operationId: numberOfUnreachableNotifications
      summary: Check all unreachable notifications of reciepientID
      description: Verifica la presenza delle notifiche in stato irreperibile per un certo recipeint
      tags:
        - Notification
      parameters:
        - $ref: 'parameters-pn-service-desk-v1.yaml#/components/parameters/cxOperatorClientAuthFleet'
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'schemas-pn-service-desk-v1.yaml#/components/schemas/NotificationRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: 'schemas-pn-service-desk-v1.yaml#/components/schemas/NotificationsUnreachableResponse'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  '/service-desk/operations':
    post:
      operationId: createOperation
      description: >-
        Crea una nuova richiesta di invio analogico su un nuovo indirizzo.
        Se la coppia _ticketId_ e _ticketOperationId_ è ripetuta rispetto 
        a una precedente richiesta l'operazione non sarà ricreata e sarà
        restituito '201'
      tags:
        - Operation
      parameters:
        - $ref: 'parameters-pn-service-desk-v1.yaml#/components/parameters/cxOperatorClientAuthFleet'
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'schemas-pn-service-desk-v1.yaml#/components/schemas/CreateOperationRequest'
      responses:
        '201':
          description: Creazione operazione andata a bon fine
          content:
            application/json:
              schema:
                $ref: 'schemas-pn-service-desk-v1.yaml#/components/schemas/OperationsResponse'
        '400':
          description: Richiesta errata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Errore lato server
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  '/service-desk/operations/digital':
    post:
      operationId: createOperationDigital
      description: >-
        Crea una nuova richiesta di invio digitale su un nuovo indirizzo email.
        Se la coppia _ticketId_ e _ticketOperationId_ è ripetuta rispetto 
        a una precedente richiesta l'operazione non sarà ricreata e sarà
        restituito '201'
      tags:
        - Operation
      parameters:
        - $ref: 'parameters-pn-service-desk-v1.yaml#/components/parameters/cxOperatorClientAuthFleet'
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'schemas-pn-service-desk-v1.yaml#/components/schemas/CreateOperationDigitalRequest'
      responses:
        '201':
          description: Creazione operazione andata a bon fine
          content:
            application/json:
              schema:
                $ref: 'schemas-pn-service-desk-v1.yaml#/components/schemas/OperationsResponse'
        '400':
          description: Richiesta errata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Errore lato server
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'


  '/service-desk/{operationId}/video-upload':
    post:
      operationId: presignedUrlVideoUpload
      description: Recupera la presigned URL di S3 per effettuare il caricamente del video
      tags:
        - Operation
      parameters:
        - $ref: 'parameters-pn-service-desk-v1.yaml#/components/parameters/cxOperatorClientAuthFleet'
        - name: operationId
          description: Indica l'id dell'operazione a cui associare il video
          in: path
          required: true
          schema:
            type: string
            maxLength: 32
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'schemas-pn-service-desk-v1.yaml#/components/schemas/VideoUploadRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: 'schemas-pn-service-desk-v1.yaml#/components/schemas/VideoUploadResponse'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Operation not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  '/service-desk/operations/search':
    post:
      operationId: searchOperationsFromTaxId
      description: Recupera tutte le operazioni effettuate per un singolo utente
      summary: API per recuperare tutte le operazioni legate ad un codice fiscale
      tags:
        - Operation
      parameters:
        - $ref: 'parameters-pn-service-desk-v1.yaml#/components/parameters/cxOperatorClientAuthFleet'
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'schemas-pn-service-desk-v1.yaml#/components/schemas/SearchNotificationRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: 'schemas-pn-service-desk-v1.yaml#/components/schemas/SearchResponse'
        '400':
          description: Richiesta errata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Errore lato server
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

security:                 # ONLY EXTERNAL
  - ApiKeyAuth: [] # use the same name as under securitySchemes    # ONLY EXTERNAL